.root {
    -fx-base: #101010;
    -fx-accent: #cccccc ;
    -fx-default-button: #7f878f ;
    -fx-focus-color: #bfbfbf;
    -fx-faint-focus-color: #efefef22;
    -fx-focused-text-base-color : ladder(
            -fx-selection-bar,
            -fx-light-text-color 85%,
            -fx-dark-text-color  90%,
            -fx-dark-text-color  95%,
            -fx-mid-text-color   100%
        );
    -fx-focused-mark-color : -fx-focused-text-base-color ;

}

.text-input {
    -fx-background-color: #dddddd;
}

.text-input:focused {
     -fx-background-color: #ffffff;
    -fx-highlight-text-fill: ladder(
        -fx-highlight-fill,
        -fx-light-text-color 85%,
        -fx-dark-text-color  90%,
        -fx-dark-text-color  95%,
        -fx-mid-text-color   100%
    );
}

.backdrop {
    -fx-effect: dropshadow(gaussian, rgba(0.2, 0.2, 0.2, 0.9), 10, 0.5, 0.0, 0.0);
}