.root {
    -fx-base: #101010;
    -fx-accent: #cccccc ;
    -fx-default-button: #7f878f ;
    -fx-focus-color: #bfbfbf;
    -fx-faint-focus-color: #efefef22;
    -fx-focused-text-base-color : ladder(
            -fx-selection-bar,
            -fx-light-text-color 45%,
            -fx-dark-text-color 46%,
            -fx-dark-text-color 59%,
            -fx-mid-text-color 60%
        );
    -fx-focused-mark-color : -fx-focused-text-base-color ;

}

.text-input:focused {
    -fx-highlight-text-fill: ladder(
        -fx-highlight-fill,
        -fx-light-text-color 45%,
        -fx-dark-text-color  46%,
        -fx-dark-text-color  59%,
        -fx-mid-text-color   60%
    );
}

.backdrop {
    -fx-effect: dropshadow(gaussian, rgba(0.2, 0.2, 0.2, 0.9), 10, 0.5, 0.0, 0.0);
}